@import "tailwindcss";
@import "yet-another-react-lightbox/styles.css";

@theme {
   --color-primary: #205295;
   --color-secondary: #144272;
   --color-third: #0a2647;
   --color-fourth: #2c74b3;
   --color-pink: #fb8e80;
   --color-gmail: #ea4335;
   --color-github: #181717;
   --color-instagram: #e4405f;
   --color-linkedin: #0a66c2;

   --animate-blob: blob 10s infinite;
   --animate-gradient-x: gradient-x 3s ease infinite;
}

@layer base {
   * {
      scroll-behavior: smooth;
   }

   *,
   ::after,
   ::before,
   ::backdrop,
   ::file-selector-button {
      border-color: var(--color-gray-200, currentColor);
   }

   button:not(:disabled),
   [role="button"]:not(:disabled) {
      cursor: pointer;
   }
}

@utility container {
   margin-inline: auto;
   padding-inline: 1rem;

   @variant sm {
      padding-inline: 2rem;
   }

   @variant lg {
      padding-inline: 4rem;
   }

   @variant xl {
      padding-inline: 5rem;
   }

   @variant 2xl {
      padding-inline: 6rem;
   }
}

@utility hover-underline {
   @apply relative inline-block text-white;

   &::after {
      @apply absolute -bottom-1 left-0 h-1 w-full origin-bottom-right scale-x-0 bg-white transition-transform duration-500 ease-out content-[''];
   }

   &:hover::after {
      @apply origin-bottom-left scale-x-100;
   }

   &.active {
      @apply after:scale-x-100;
   }
}

@keyframes gradient-x {

   0%,
   100% {
      background-position: 0% 50%;
   }

   50% {
      background-position: 100% 50%;
   }
}

@keyframes blob {
   0% {
      transform: translate(0px, 0px) scale(1);
   }

   33% {
      transform: translate(15vw, -15vh) scale(1.2);
   }

   66% {
      transform: translate(-10vw, 10vh) scale(0.8);
   }

   100% {
      transform: translate(0px, 0px) scale(1);
   }
}

@utility animation-delay-2000 {
   animation-delay: 2s;
}

@utility animation-delay-4000 {
   animation-delay: 4s;
}

@utility card-about {
   @apply relative flex cursor-pointer flex-col items-center justify-center rounded-xl border border-white/10 bg-white/5 px-5 py-5 shadow-[0_8px_32px_0_#00000033] backdrop-blur-md transition-all duration-300 hover:-translate-y-1 hover:border-white/20 hover:bg-white/10 hover:shadow-[0_8px_32px_0_#ffffff1a];
}