body {
   background-color: aliceblue;
   font-family: "Roboto", sans-serif;
}

h1 {
   font-size: 2.1em;
   text-align: center;
   margin-top: 3rem;
   margin-bottom: 2rem;
}

.header {
   font-weight: bolder;
   font-size: 1.1em;
   text-align: center;
   background-color: #2be9ba;
}

tr {
   font-size: 0.9em;
}

@media screen and (max-width: 768px) {
   .header {
      font-size: 1em;
   }
   table {
      width: 90%;
   }
   h1 {
      font-size: 1.3em;
   }
   tr {
      font-size: 0.9em;
   }
}

@media screen and (max-width: 500px) {
   .header {
      font-size: 0.9em;
   }
   table {
      width: 95%;
   }

   h1 {
      font-size: 1.2em;
   }
   tr {
      font-size: 0.85em;
   }
   table {
      text-align: start;
   }

   .baris2 {
      text-align: end;
   }
}
